body {
    font-family: "IM Fell English", serif;
    justify-content: center;
    align-items: center;
    background-color: #ede5d3;
    border: 5px #3c5c1e;
    min-height: 300px;
    max-height: 300px;
    min-width: 200px;
    max-width: 200px;
}
    
blockquote {
    text-align: center;
    font-style: regular;
    color: #3c5c1e;
}

#quote-author {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #3c5c1e;
}

#new-quote-btn {
    background-color: #e0d7c1;
    color: #3c5c1e;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    align-items: center
}

#new-quote-btn:hover {
    background-color: #d6caab;
}
