body {
    font-family: "IM Fell English", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-widget {
        background-color: #fff;
        width: 200px;
        text-align: center;

blockquote {
    font-style: regular;
    margin: 0;
}

#quote-author {
    margin-top: 10px;
    font-weight: regular;
    text-align: right;
}

#new-quote-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    align-items: center
}

#new-quote-btn:hover {
    background-color: #0056b3;
}
