body {
    font-family: "IM Fell English", serif;
    justify-content: center;
    align-items: center;
    min-block-size: 200px;
    max-block-size: 200px;
    inline-size: 250px;
    overflow: clip;
    margin: 0;
    background-color: #ede5d3;
}

.quote-widget {
    text-align: center;
}

blockquote {
    font-style: regular;
    color: #3c5c1e;
}

#quote-author {
    margin-top: 10px;
    font-weight: bold;
    color: #3c5c1e;
}

#new-quote-btn {
    background-color: #e0d7c1;
    color: #3c5c1e;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 20px;
}

#new-quote-btn:hover {
    background-color: #d6caab;
}
